*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
}

header a{
    
    text-decoration: none;
    color: white;
}